:root {
    --cor-card: #1ab788;
    --cor-p: #a12342;
    --cor-h3: #c73482;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #BBAAAC, #C3466B);
    background-repeat: no-repeat;
}

.bolo {
    border: 1px solid var(--cor-card);
    border-radius: 10px 0 30px 0;
    margin-bottom: 10px;
}

.bolo-img img{
    width: 300px;
    height: 200px;
}

.bolo-info h3 {
    color: var(--cor-h3);
    text-align: center;
}

h1 {
    color: var(--cor-h3);
    text-align: center;
}

p {
    color: var(--cor-p);
    text-align: center;
}

a {
    text-decoration: none;
}

.container {
    float: left;
    margin: 0 20px 20px 0px;
}